.menu-card
{
    padding: 15px;
    border-radius: 5px;
    border: black;
    border-style: solid;
}

.menu
{
    padding: 15px;
}

.buttonwrapper
{
    text-align:center;
}

.welcome-username
{
    text-align:center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button
{
    text-align:center;
}